@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap");

#md-source,
#md-preview {
  margin: 1rem;
  overflow: auto;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

#md-filename {
  font-family: "Nunito Sans", sans-serif;
  border: 0;
  outline: none;
}

#md-textarea {
  height: 85vh;
  padding: 1rem;
  width: -webkit-fill-available;
  width: -moz-available;
  border: 0;
  outline: none;
  resize: none;
  font-size: 18px;
  background: lightcyan;
  border-radius: 10px;
  border: 1px solid aqua;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

#md-preview img {
  width: 100%;
}

#md-preview pre code {
  display: block;
}

#md-preview p code {
  display: inline;
}

#md-preview code {
  font-size: 85%;
  overflow-x: auto;
  padding: 0.5em;
  color: yellow;
  background: #000;
  box-shadow: 0px 0px 5px 0px #a0b0b0;
  border-radius: 5px;
}

#md-preview blockquote {
  border-left: 2px solid orange;
  background: lightgoldenrodyellow;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: unset;
}

#md-preview th,
td {
  border: 1px solid;
  padding: 0.5rem;
}

#md-preview th {
  background-color: beige;
}